body{
    margin: 0;
    font-family: arial;
}
nav{
    background-color: #f5cb00;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
nav text{
    display: flex;
    gap: 50px;
    padding-right: 50px;
}
nav img{
    width: 100px;
    padding-left: 50px;
}
main{
    display: flex;
    justify-content: center;
    margin: 50px;
    gap: 100px;
}
maintext p{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}
maintext{
    align-content: center;
    justify-content: center;
    max-width: 400px;   
}
maintext h1{
    font-size: 70px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: lighter;
}
maintext button{
    background-color: #f5cb00;
    border: none;
    padding-right: 4%;
    padding-left: 4%;
    padding-bottom: 2%;
    padding-top: 2%;
    font-weight: bold;
    font-size: 20px;
}
header{
    margin-bottom: 300px;
}
position{
    position: absolute;
    display: flex;
    background-color: #e6e6e6;
    padding: 70px;
    margin: 100px;
    top: 700px;
    justify-content: space-between;
    align-content: center;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.459);
}
right{
    max-width: 30%;
}
right h1{
    color: #f5cb00;
    font-size: 70px;
    font-family: "Bebas Neue", sans-serif;
}
right p{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}
right button{
    border: none;
    background-color: #e6e6e600;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
}
left{
    display: flex;
}
aside{
    padding-top: 300px;
    display: flex;
    flex-direction: column;
    background-color: #f5cb00;
    padding-bottom: 100px;
}
aside h1{
    margin-left: 14%;
    font-size: 70px;
    font-family: "Bebas Neue", sans-serif;
}
boxing{
    display: flex;
    justify-content: space-evenly;
}
box{
    max-width: 20%;
    font-size: 20px;
}
box p{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}
box button{
    font-size: 20px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: black;
    border: none;
    color: white;
}
aside2{
    display: flex;
    margin: 100px;
    background-color: #e6e6e6;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.459);
}
info h1{
    color: #f5cb00;
    font-size: 70px;
    font-family: "Bebas Neue", sans-serif;
}
info p{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}
info button{
    font-size: 20px;
    padding-right: 4%;
    padding-left: 4%;
    padding-bottom: 2%;
    padding-top: 2%;
    background-color: black;
    border: none;
    color: white;
}
graphi2{
    padding: 50px;
}
graphiimg{
    display: flex;
    justify-content: end;
    margin-top: 50px;
}
graphiimg img{
    width: 50%;
}
aside3{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
}
aside3 h1{
    color: #f5cb00;
    font-family: "Bebas Neue", sans-serif;
    font-size: 70px;
}
aside3 p{
    max-width: 50%;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}
aside3 button{
    margin-top: 50px;
    font-size: 20px;
    padding-right: 4%;
    padding-left: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
    background-color: #f5cb00;
    border: none;
    color: rgb(0, 0, 0);
}
aside4{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin: 100px;
}
team{
    align-content: center;
    max-width: 20%;
}
team p{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}
team h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 70px;
}
team button{
    font-size: 20px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: #f5cb00;
    border: none;
    color: rgb(0, 0, 0);
}
aside5{
    display: flex;
    justify-content: space-evenly;
    background-color: #e6e6e6;
    align-items: center;
    padding: 50px;
}
method{
    max-width: 30%;
}
method p{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}
method h1{
    font-size: 70px;
    font-family: "Bebas Neue", sans-serif;
}
method button{
    font-size: 20px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: #f5cb00;
    border: none;
    color: rgb(0, 0, 0);
}
aside6{
    display: flex;
    justify-content: space-evenly;
    margin: 100px;
}
document .div1{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    
}
.div1, .div2, .div3 p{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}
document{
    background-color: black;
    color: white;
    padding: 50px;
    max-width: 30%;
}
document input{
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
}
.div1 p{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.div2 p{
    display: flex;
    flex-direction: column;
}
letter{
    align-content: center;
    max-width: 20%;
}
letter p{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}
letter h1{
    color: #f5cb00;
    font-size: 70px;
    font-family: "Bebas Neue", sans-serif;
}
letter button{
    font-size: 20px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: rgb(0, 0, 0);
    border: none;
    color: rgb(255, 255, 255);
}
input#name{
    height: 20px;
}
input#mensaje{
    height: 200px;
}
aside7{
    background-color: #f5cb00;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
}
aside7 p{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}
aside7 h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 70px;
}
aside7 button{
    font-size: 20px;
    margin-top: 50px;
    padding-right: 4%;
    padding-left: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
    background-color: rgb(0, 0, 0);
    border: none;
    color: rgb(255, 255, 255);
}
footer{
    background-color: rgb(0, 0, 0);
    color: #f5cb00;
    padding: 50px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}
footer1{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 40px;
    margin-top: 50px;
    margin-bottom: 100px;
}
foot3{
    display: flex;
    border-top: 1px solid #f5cb00;
    justify-content: space-between;
}
foot4{
    align-content: center;
}
@media (max-width: 480px) {
    nav, text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav img{
        padding: 0;
    }
    nav text{
        padding: 0;
    }
    main{
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 50%;
    }
    mainimg img{
        width: 400px;
    }
    position{
        top: 1100px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 80%;
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
        flex-direction: column;
    }
    right{
        max-width: 500px;
    }
    left img{
        width: 50%;
        height: 100%;
    }
    boxing{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    box{
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 50px;
    }
    box button{
        max-width: 200px;
        align-self: center;
    }
    aside h1{
        text-align: center;
        margin: 0;
        padding: 0;
    }
    aside{
        padding-top: 120%;
    }
    zok img{ 
        width: 400px;
    }
    aside2{
        display: flex;
        flex-direction: column;
        margin: 50px;
    }
    aside3{
        max-width: 500px;
    }
    aside3 img{
        width: 400px;
    }
    graphi img{
        width: 100%;
    }
    aside4 img{
        width: 400px;
        height: 400px;
    }
    aside4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    team{
        max-width: 100%;
    }
    aside5 img{
        width: 400px;
    }
    aside5{
        display: flex;
        flex-direction: column;
    }
    method{
        margin-bottom: 100px;
        max-width: 500px;
    }
    aside7 img{
        width: 400px;
    }
    document{
        max-width: 400px;
    }
    .div1 input{
        width: 150px;
    }
    aside6{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    letter{
        max-width: 500px;
    }
}


@media (min-width: 481px) and (max-width: 768px) {
    nav, text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav img{
        padding: 0;
    }
    nav text{
        padding: 0;
    }
    main{
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 50%;
    }
    mainimg img{
        width: 400px;
    }
    position{
        top: 1100px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 80%;
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
        flex-direction: column;
    }
    right{
        max-width: 500px;
    }
    left img{
        width: 50%;
        height: 100%;
    }
    boxing{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    box{
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 50px;
    }
    box button{
        max-width: 200px;
        align-self: center;
    }
    aside h1{
        text-align: center;
        margin: 0;
        padding: 0;
    }
    aside{
        padding-top: 120%;
    }
    zok img{ 
        width: 400px;
    }
    aside2{
        display: flex;
        flex-direction: column;
        margin: 50px;
    }
    aside3{
        max-width: 500px;
    }
    aside3 img{
        width: 400px;
    }
    graphi img{
        width: 100%;
    }
    aside4 img{
        width: 400px;
        height: 400px;
    }
    aside4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    team{
        max-width: 100%;
    }
    aside5 img{
        width: 400px;
    }
    aside5{
        display: flex;
        flex-direction: column;
    }
    method{
        margin-bottom: 100px;
        max-width: 500px;
    }
    aside7 img{
        width: 400px;
    }
    document{
        max-width: 400px;
    }
    .div1 input{
        width: 150px;
    }
    aside6{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    letter{
        max-width: 500px;
    }
}

@media (min-width: 769px) and (max-width: 920px) {
    main{
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 40%;
    }
    mainimg img{
        width: 700px;
    }
    position{
        display: flex;
        flex-wrap: wrap;
        margin-top: 80%;
        display: flex;
        flex-direction: column;
    }
    right{
        max-width: 500px;
    }
    left img{
        width: 50%;
        height: 100%;
    }
    boxing{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    box{
        max-width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 50px;
    }
    box button{
        max-width: 200px;
        align-self: center;
    }
    aside h1{
        text-align: center;
        margin: 0;
        padding: 0;
    }
    aside{
        padding-top: 50%;
    }
    zok img{ 
        width: 500px;
    }
    aside2{
        display: flex;
        flex-wrap: wrap;
    }
    aside3 img{
        width: 700px;
    }
    graphi img{
        width: 100%;
    }
    aside4 img{
        width: 400px;
        height: 400px;
    }
    aside4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    team{
        max-width: 40%;
    }
    aside5 img{
        width: 500px;
    }
    aside5{
        display: flex;
        flex-direction: column;
    }
    method{
        margin-bottom: 100px;
    }
    aside7 img{
        width: 700px;
    }
    document{
        max-width: 500px;
    }
    aside6{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    letter{
        max-width: 500px;
    }
}


@media (min-width: 921px) and (max-width: 1279px) {
    main{
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 40%;
    }
    mainimg img{
        width: 700px;
    }
    position{
        display: flex;
        flex-wrap: wrap;
        margin-top: 80%;
        display: flex;
        flex-direction: column;
    }
    right{
        max-width: 500px;
    }
    left img{
        width: 50%;
        height: 100%;
    }
    aside{
        padding-top: 50%;
    }
    aside h1{
        margin-left: 80px;
    }
    zok img{ 
        width: 500px;
    }
    aside2{
        display: flex;
        flex-wrap: wrap;
    }
    aside3 img{
        width: 700px;
    }
    graphi img{
        width: 720px;
    }
    aside4 img{
        width: 400px;
        height: 400px;
    }
    team{
        max-width: 40%;
    }
    aside5 img{
        width: 500px;
    }
    aside7 img{
        width: 700px;
    }
    document{
        max-width: 500px;
    }
    aside6{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    letter{
        max-width: 500px;
    }
}


@media (min-width: 1280px) {
    mainimg img{
        width: 600px;
        height: 450px;
    }
    main{
        padding-bottom: 200px;
    }
    left img{
        align-self: center;
        width: 50%;
        height: 50%;
        padding: 20px;
    }
    aside h1{
        margin-left: 7%;   
    }
    document{
        max-width: 520px;
    }
    graphi2{
        padding-bottom: 0;
    }
}