body{
    margin: 0;
    font-family: arial;
}
nav{
    background-color: #f5cb00;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
nav .menu-navegacion{
    display: flex;
    gap: 50px;
    padding-right: 50px;
}
nav img{
    width: 100px;
    padding-left: 50px;
}
main{
    display: flex;
    justify-content: center;
    margin: 50px;
    gap: 100px;
}
.texto-principal p{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}
.texto-principal{
    align-content: center;
    justify-content: center;
    max-width: 400px;   
}
.imagen-principal img{
    width: 700px;
    height: 550px;
    margin: 50px;
}
.texto-principal h1{
    font-size: 70px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: lighter;
}
.texto-principal button{
    background-color: #f5cb00;
    border: none;
    padding-right: 4%;
    padding-left: 4%;
    padding-bottom: 2%;
    padding-top: 2%;
    font-weight: bold;
    font-size: 20px;
}
header{
    margin-bottom: 300px;
}
.seccion-estadisticas{
    position: absolute;
    display: flex;
    background-color: #e6e6e6;
    padding: 70px;
    margin: 100px;
    top: 700px;
    justify-content: space-between;
    align-content: center;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.459);
}
.contenido-derecha{
    max-width: 30%;
}
.contenido-derecha h1{
    color: #f5cb00;
    font-size: 70px;
    font-family: "Bebas Neue", sans-serif;
}
.contenido-derecha p{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}
.contenido-derecha button{
    border: none;
    background-color: #e6e6e600;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.graficos-izquierda{
    display: flex;
}
.seccion-ayuda{
    padding-top: 300px;
    display: flex;
    flex-direction: column;
    background-color: #f5cb00;
    padding-bottom: 100px;
}
.seccion-ayuda h1{
    padding-left: 200px;
    font-size: 70px;
    font-family: "Bebas Neue", sans-serif;
}
.contenedor-cajas{
    display: flex;
    justify-content: space-evenly;
}
.caja-texto{
    max-width: 20%;
    font-size: 20px;
}
.caja-texto p{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    margin-right: 50px;
}
.caja-texto button{
    font-size: 20px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: black;
    border: none;
    color: white;
}
.seccion-porcentaje{
    display: flex;
    margin: 100px;
    background-color: #e6e6e6;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.459);
}
.info-grafico h1{
    color: #f5cb00;
    font-size: 70px;
    font-family: "Bebas Neue", sans-serif;
}
.info-grafico p{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}
.info-grafico button{
    font-size: 20px;
    padding-right: 4%;
    padding-left: 4%;
    padding-bottom: 2%;
    padding-top: 2%;
    background-color: black;
    border: none;
    color: white;
}
.contenedor-grafico{
    padding: 50px;
}
.imagen-grafico-derecha{
    display: flex;
    justify-content: end;
    margin-top: 20px;
}
.imagen-grafico-derecha img{
    width: 30%;
}
.seccion-sobre-nosotros{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
}
.seccion-sobre-nosotros h1{
    color: #f5cb00;
    font-family: "Bebas Neue", sans-serif;
    font-size: 70px;
}
.seccion-sobre-nosotros p{
    max-width: 50%;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}
.seccion-sobre-nosotros button{
    margin-top: 50px;
    font-size: 20px;
    padding-right: 4%;
    padding-left: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
    background-color: #f5cb00;
    border: none;
    color: rgb(0, 0, 0);
}
.seccion-equipo{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin: 100px;
}
.info-equipo{
    align-content: center;
    max-width: 20%;
}
.info-equipo p{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}
.info-equipo h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 70px;
}
.info-equipo button{
    font-size: 20px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: #f5cb00;
    border: none;
    color: rgb(0, 0, 0);
}
.seccion-metodo{
    display: flex;
    justify-content: space-evenly;
    background-color: #e6e6e6;
    align-items: center;
    padding: 50px;
}
.contenido-metodo{
    max-width: 30%;
}
.contenido-metodo p{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}
.contenido-metodo h1{
    font-size: 70px;
    font-family: "Bebas Neue", sans-serif;
}
.contenido-metodo button{
    font-size: 20px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: #f5cb00;
    border: none;
    color: rgb(0, 0, 0);
}
.seccion-contacto-newsletter{
    display: flex;
    justify-content: space-evenly;
    margin: 100px;
}
.formulario-contacto .div1{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.div1, .div2, .div3 p{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}
.formulario-contacto{
    background-color: black;
    color: white;
    padding: 50px;
    max-width: 30%;
}
.formulario-contacto input{
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
}
.div1 p{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.div2 p{
    display: flex;
    flex-direction: column;
}
.newsletter{
    align-content: center;
    max-width: 20%;
}
.newsletter p{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}
.newsletter h1{
    color: #f5cb00;
    font-size: 70px;
    font-family: "Bebas Neue", sans-serif;
}
.newsletter button{
    font-size: 20px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: rgb(0, 0, 0);
    border: none;
    color: rgb(255, 255, 255);
}
input#name{
    height: 20px;
}
input#mensaje{
    height: 200px;
}
.seccion-contacto{
    background-color: #f5cb00;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
}
.seccion-contacto p{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}
.seccion-contacto h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 70px;
}
.seccion-contacto button{
    font-size: 20px;
    margin-top: 50px;
    padding-right: 4%;
    padding-left: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
    background-color: rgb(0, 0, 0);
    border: none;
    color: rgb(255, 255, 255);
}
footer{
    background-color: rgb(0, 0, 0);
    color: #f5cb00;
    padding: 50px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}
.enlaces-pie{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 40px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.pie-derechos{
    display: flex;
    border-top: 1px solid #f5cb00;
    justify-content: space-between;
}
.redes-sociales{
    align-content: center;
}

@media (max-width: 480px) {
    nav, .menu-navegacion{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    nav
    nav img{
        padding: 0;
    }
    .menu-navegacion{
        padding: 0;
    }
    main{
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 50%;
    }
    .imagen-principal img{
        width: 400px;
    }
    .seccion-estadisticas{
        top: 1100px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 80%;
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
        flex-direction: column;
    }
    .contenido-derecha{
        max-width: 500px;
    }
    .graficos-izquierda img{
        width: 50%;
        height: 100%;
    }
    .contenedor-cajas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .caja-texto{
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 50px;
    }
    .caja-texto button{
        max-width: 200px;
        align-self: center;
    }
    .seccion-ayuda h1{
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .seccion-ayuda{
        padding-top: 120%;
    }
    .imagen-ayuda img{ 
        width: 400px;
    }
    .seccion-porcentaje{
        display: flex;
        flex-direction: column;
        margin: 50px;
    }
    .seccion-sobre-nosotros{
        max-width: 500px;
    }
    .seccion-sobre-nosotros img{
        width: 400px;
    }
    .imagen-grafico img{
        width: 100%;
    }
    .seccion-equipo img{
        width: 400px;
        height: 400px;
    }
    .seccion-equipo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info-equipo{
        max-width: 100%;
    }
    .seccion-metodo img{
        width: 400px;
    }
    .seccion-metodo{
        display: flex;
        flex-direction: column;
    }
    .contenido-metodo{
        margin-bottom: 100px;
        max-width: 500px;
    }
    .seccion-contacto img{
        width: 400px;
    }
    .formulario-contacto{
        max-width: 400px;
    }
    .div1 input{
        width: 150px;
    }
    .seccion-contacto-newsletter{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .newsletter{
        max-width: 500px;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    nav, .menu-navegacion{ 
        flex-direction: column; 
        align-items: center; 
    }
    nav img, .menu-navegacion{ 
        padding: 0; 
    }
    main{ 
        flex-wrap: wrap;
        padding-bottom: 50%; 
    }
    .imagen-principal img{ 
        width: 400px; 
    }
    .seccion-estadisticas{ 
        top: 1100px; 
        flex-wrap: wrap;
         margin-top: 80%;
        margin-left: 20px; 
        margin-right: 20px;
         flex-direction: column; 
        }
    .contenido-derecha{ 
        max-width: 500px;
        }
    .graficos-izquierda img{
         width: 50%; 
         height: 100%; 
        }
    .contenedor-cajas{ 
        flex-direction: column;
         align-items: center;
         }
    .caja-texto{ 
        max-width: 400px; 
        margin-bottom: 50px;
        }
    .caja-texto button{
         max-width: 200px;
         align-self: center; 
        }
    .seccion-ayuda h1{ 
        text-align: center;
         margin: 0; 
         padding: 0; 
        }
    .seccion-ayuda{ 
        padding-top: 120%; 
    }
    .imagen-ayuda img{ 
        width: 400px; 
    }
    .seccion-porcentaje{ 
        flex-direction: column;
         margin: 50px; 
        }
    .seccion-sobre-nosotros{ 
        max-width: 600px; 
    }
    .seccion-sobre-nosotros img{ 
        width: 400px; 
    }
    .imagen-grafico img{ 
        width: 100%; 
    }
    .seccion-equipo img{ 
        width: 400px; 
        height: 400px; 
    }
    .seccion-equipo{ 
        flex-direction: column;
         align-items: center; 
        }
    .info-equipo{ 
        max-width: 100%; 
    }
    .seccion-metodo img{ 
        width: 400px; 
    }
    .seccion-metodo{ 
        flex-direction: column; 
    }
    .contenido-metodo{ 
        margin-bottom: 100px;
         max-width: 500px; 
        }
    .seccion-contacto img{ 
        width: 400px; 
    }
    .formulario-contacto{ 
        max-width: 400px; 
    }
    .div1 input{ 
        width: 150px; 
    }
    .seccion-contacto-newsletter{ 
        flex-direction: column;
         align-items: center; 
    }
    .newsletter{ 
        max-width: 500px; 
    }
}

@media (min-width: 769px) and (max-width: 920px) {
    main{ 
        flex-wrap: wrap; 
        padding-bottom: 40%; 
    }
    .imagen-principal img{ 
        width: 700px; 
    }
    .seccion-estadisticas{ 
        flex-wrap: wrap; 
        margin-top: 80%; 
        flex-direction: column; 
    }
    .contenido-derecha{ 
        max-width: 500px; 
    }
    .graficos-izquierda img{ 
        width: 50%; 
        height: 100%; 
    }
    .contenedor-cajas{ 
        flex-direction: column;
         align-items: center; 
    }
    .caja-texto{ 
        max-width: 500px; 
        margin-bottom: 50px; 
    }
    .caja-texto button{ 
        max-width: 200px; 
        align-self: center; 
    }
    .seccion-ayuda h1{ 
        text-align: center; 
        margin: 0; 
        padding: 0; 
    }
    .seccion-ayuda{ 
        padding-top: 50%; 
    }
    .imagen-ayuda img{ 
        width: 500px; 
    }
    .seccion-porcentaje{ 
        flex-wrap: wrap; 
    }
    .seccion-sobre-nosotros img{ 
        width: 700px; 
    }
    .imagen-grafico img{ 
        width: 100%; 
    }
    .seccion-equipo img{ 
        width: 400px; 
        height: 400px; 
    }
    .seccion-equipo{ 
        flex-direction: column; 
        align-items: center; 
    }
    .info-equipo{ 
        max-width: 40%; 
    }
    .seccion-metodo img{ 
        width: 500px; 
    }
    .seccion-metodo{ 
        flex-direction: column; 
    }
    .contenido-metodo{ 
        margin-bottom: 100px; 
    }
    .seccion-contacto img{ 
        width: 700px; 
    }
    .formulario-contacto{ 
        max-width: 500px; 
    }
    .seccion-contacto-newsletter{ 
        flex-direction: column; 
        align-items: center; 
    }
    .newsletter{ 
        max-width: 500px; 
    }
}

@media (min-width: 921px) and (max-width: 1279px) {
    main{ 
        flex-wrap: wrap; 
        padding-bottom: 40%; 
    }
    .imagen-principal img{ 
        width: 700px; 
    }
    .seccion-estadisticas{ 
        flex-wrap: wrap; 
        margin-top: 80%; 
        flex-direction: column; 
    }
    .contenido-derecha{ 
        max-width: 500px; 
    }
    .graficos-izquierda img{ 
        width: 50%; 
        height: 100%; 
    }
    .seccion-ayuda{ 
        padding-top: 50%; 
    }
    .seccion-ayuda h1{ 
        margin-left: 80px; 
    }
    .imagen-ayuda img{ 
        width: 500px; 
    }
    .seccion-porcentaje{ 
        flex-wrap: wrap; 
    }
    .seccion-sobre-nosotros img{ 
        width: 700px; 
    }
    .imagen-grafico img{ 
        width: 720px; 
    }
    .seccion-equipo img{ 
        width: 400px; 
        height: 400px; 
    }
    .info-equipo{ 
        max-width: 40%; 
    }
    .seccion-metodo img{ 
        width: 500px; 
    }
    .seccion-contacto img{ 
        width: 700px; 
    }
    .formulario-contacto{ 
        max-width: 500px; 
    }
    .seccion-contacto-newsletter{ 
        flex-direction: column; 
        align-items: center; 
    }
    .newsletter{ 
        max-width: 500px; 
    }
}

@media (min-width: 1280px) {
    .imagen-principal img{
        width: 600px;
        height: 450px;
    }
    main{
        padding-bottom: 200px;
    }
    .graficos-izquierda img{
        align-self: center;
        width: 50%;
        height: 50%;
        padding: 20px;
    }
    .seccion-ayuda h1{
        margin-left: 7%;   
    }
    .formulario-contacto{
        max-width: 520px;
    }
    .contenedor-grafico{
        padding-bottom: 0;
    }
}